.title{
    text-align: center;
    font-size: 50px;
    font-family: cursive;
}

.subtitle{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
}

.hero-body{
    background-image: url("./background-1.jpg");
    border-bottom: 1px solid black;
    
}
.artist-elements{
    padding: .5cm;
}

.is-grouped{
    padding-top: .2cm;
    margin-left: auto;
    margin-right: auto;
    width: 5em
}

.form{
        width: 650px;
        height: 450px;
        margin: auto;
        position: relative;
}

.card-footer-item{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 25%;
    height: auto;
}

.embed{
    border: 1px solid purple;
    margin: .5cm;
}

.content{
    float: right;
    padding-right: 30cm;
}